.container{
    display:grid;
   grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.flag{
    width: 120px;
    height: 80px;
}
.country0{
    width:300px;
    heigh:250px;
    background-color: salmon;
    border:5px solid black;
    display:none;
}